<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>

	<!-- Spawn Map -->
	<include file="$(find adhoc_simulations)/launch/sim_base_tb3_house.launch"/>
	
	<!-- Spawn Bot -->
	<include file="$(find adhoc_simulations)/launch/sim_bot_tb3.launch">
		<arg name="model" value="$(arg model)"/>
		<arg name="robot_name" value="tb3_0"/>
	</include>

</launch>