<launch>
	<arg name="caato_model" default="v1m"/>
	<arg name="locust_model" default="v1m"/>

	<!-- Spawn Map -->
	<include file="$(find adhoc_simulations)/launch/sim_base_mbc.launch"/>
	
	<!-- Spawn Bot -->
	<include file="$(find adhoc_simulations)/launch/sim_bot_caato.launch">
		<arg name="model" value="$(arg caato_model)"/>
		<arg name="robot_name" value="caato_0"/>

		<arg name="bot_x_pos" default="22.0"/>
		<arg name="bot_y_pos" default="-17.0"/>
		<arg name="bot_z_pos" default="1.0"/>
		<arg name="bot_a_pos" default="1.57"/>
	</include>

	<include file="$(find adhoc_simulations)/launch/sim_bot_locust.launch">
		<arg name="model" value="$(arg locust_model)"/>
		<arg name="robot_name" value="locust_0"/>

		<arg name="bot_x_pos" default="22.0"/>
		<arg name="bot_y_pos" default="-22.0"/>
		<arg name="bot_z_pos" default="1.0"/>
		<arg name="bot_a_pos" default="3"/>
	</include>

	<include file="$(find decadarobotics_devtest)/launch/include/rqt.launch"/>
	
</launch>